<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fy071.floatingwidget">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".pet.FloatingViewService"
            android:enabled="true" />

        <receiver
            android:name=".pet.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".pet.WeChatMessageReceiver"
            android:enabled="true" />
        <receiver
            android:name=".reminder.AlarmReceiver"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:name=".pet.WeChatNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".pet.RandomDialogService"
            android:enabled="true" />

        <activity
            android:name=".settings.SettingsActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".bluetooth.PairingActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".BaseActivity" />

        <service
            android:name=".pet.NotificationListenerMonitorService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".bluetooth.ConnectedActivity" />
        <activity android:name=".reminder.ReminderListActivity" />
        <activity android:name=".reminder.ReminderConfigActivity">

        </activity>
    </application>

</manifest>